 body {
    margin: 0;
 }


section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    text-align: center;
}


.pads {
    width: 100%;
    height: 100px;
    display: flex;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background-color: bisque;
}

.pad2 {
    background-color: green;
}

.pad3 {
    background-color: rgb(15, 158, 202);
}

.pad4 {
    background-color: rgb(241, 4, 63);
}

.pad5 {
    background-color: rgb(235, 200, 5);
}